body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.nav-bar {
    display: flex;
    background-color: #62297A;
    color: #ffffff;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

.nav-bar img {
    height: 80px;
}