:root {
    --principal: #1f0d81;
    --yellow: #e6bd08;
}

body {
    margin: 0;
    font-family: -apple-system, 'Roboto', BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h2 {
    font-size: 3em;
}

.content {
    min-height: 64vh;
    margin-top: 15vh;
}


/* Pam */

.navbar {
    flex-wrap: initial;
}

.bg-principal {
    background-color: var(--principal)!important;
}

.fixed-top {
    height: 10%;
}

.app1 {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    margin: auto;
    justify-items: flex-start;
}

.left-side {
    width: 50%;
    padding-top: 20vh;
}

.right-side {
    width: 50%;
    padding-top: 20vh;
}

.web-page-section {
    background-color: var(--yellow);
    min-height: 50vh;
    font-size: 48px;
    color: white;
}

.opaque {
    opacity: 0.5;
}

.blue-logo {
    width: 60%;
}

.image-center {
    width: 80%;
}

.image-icon {
    width: 30%;
}

.image-mini {
    width: 13%;
}

.footer {
    background-color: var(--principal)!important;
    width: 100%!important;
    color: white;
}

.footer a {
    font-size: 1.6em;
}

.footer .text {
    font-size: 1em;
}

.footer p {
    margin: 0;
}

.contact-icons {
    margin: 0 30%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.contact-icons a {
    margin: 0 5px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.logo {}

.card,
.modal-content {
    margin: 0 auto;
    max-width: 600px!important;
    border-radius: 30px;
    background-color: #cfd8dc;
}

.card-image-details {
    width: 80%;
    height: 80%;
}

.card-image {
    width: 50%;
    height: 50%;
}

.circle-image {
    width: 15rem;
    height: 15rem;
}

.footer {
    background-color: var(--principal)!important;
    width: 100%!important;
    margin-top: 3em;
    color: white;
}

.footer a {
    font-size: 1.6em;
}


/* Overwrite bootstrap */

.btn-primary {
    color: #fff;
    background-color: green!important;
    border-color: var(--principal)!important;
    border-radius: 30px;
}

.bg-primary {
    background-color: var(--principal)!important;
}

.linkButton {
    color: var(--principal);
}

.yellow-space {
    background-color: var(--yellow);
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.mini-card {
    width: 300px!important;
    margin: 10px;
}

.miniEventos {
    display: flex;
    flex-direction: row;
}

.contact-icons {
    margin: 0 30%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.contact-icons a {
    margin: 0 5px;
}


/* Responsive */

@media only screen and (max-width: 620px) {
    .card {
        width: 90%!important;
    }
    .mini-card {
        flex-direction: row;
    }
    .mini-card img {
        width: 40%;
        height: auto;
    }
    .miniEventos {
        flex-direction: column;
    }
}

.SigninLink {
    color: var(--principal);
    font-size: .8em;
}

.bg-innova {
    background-color: var(--principal);
    color: white;
    font-size: 2em;
}

.card-header,
.card-img-top {
    border-radius: 30px 30px 0px 0px !important;
}

.modal-footer,
{
    border-radius: 0px 0px 30px 30px!important;
}

.form-control {
    border-radius: 4.25rem;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgRedonda {
    width: 20vh;
    height: 20vh;
    border-radius: 150px;
    border: 1px solid black;
}

.image-container,
.blurred,
.image-container>img {
    width: 90%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.bg-card {
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
    font-size: 3em;
    font-weight: 800;
    height: 4em;
    width: 64em;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    display: table-cell;
    vertical-align: middle;
    letter-spacing: -2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.bg-card p {
    font-size: 1em;
    font-weight: 400 !important;
}

.divided-color {
    background: -webkit-linear-gradient(110deg, #9fa8da 60%, #c5cae9 60%);
}

.bg-purple {
    color: #fff;
    background: -webkit-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
    background: -o-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
    background: -moz-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
    background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
}